.workersSection{
    height: 924px;
    background-color: var(--main-color-2);
}

.workerSectionWrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    padding-top: 70px;
}
